@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: antiquewhite;
  color: rgb(89, 8, 161);
  text-align: center;
  margin-top: 100px;
  font-family: cursive;
}
form {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
